{% extends 'base.html' %}

{% block title%}Home{% endblock %}

{% block head %}Home{% endblock %}

{% block content %}
    Hi {{ user.email }}!    

    <div style="width: 50%; margin: auto; padding: 50px;">
        {% if user.is_superuser %}
            <a href="/admin">Admin Mode</a>
        {% endif %}
        {% if is_verifier %}
        <h1>Verifier</h1>
            <h2>Revision Assignments</h2>
            <ul>
                <li><a href="/reviewer/pending/">Request received to Review of Proposal</a></li>
                <li>Accepted to Review ({{ num_of_agreed }})</li>
                <li>Pending Review ({{ num_of_pending }})</li>
                <li>Submitted Review Recommendations (0)</li>
                <li>Last Day to receive the review:   DD/ MM/ YYYY</li>
            </ul>

            <h2>Completed</h2>
            <ul>
                <li>Submission with a decision (0)</li>
            </ul>
        {% endif %}

        {% if is_pi %}
        <h1>PI</h1>
        <h2>New Submissions</h2>
        <ul>
            <li><a href="/proposals/submit">Submit New Proposal</a></li>
            <li><a href="/proposals/incomplete">Incomplete Submissions</a> ({{ incomplete }})</li>
            <li>Submissions Waiting for Author's Approval (0)</li>
            <li>Submissions Being Processed (0)</li>
            <li><a href="/proposals/all">All Submissions<a> ({{ all }})</li>
        </ul>
        <h2>Revisions</h2>
        <ul>
            <li>Submissions Needing Revision (0)</li>
            <li>Incomplete Submissions Being Revised (0)</li>
            <li>Revisions Waiting for Author's Approval (0)</li>
            <li>Revisions Being Processed (0)</li>
        </ul>
        <h2>Completed</h2>
        <ul>
            Submissions with a Decision (0)
        </ul>
        {% endif %}

        {% if is_coordinator %}
        <h1>Coordinator</h1>
            <ul>
                <li><a href="/coordinator/all">All proposals</a> ({{ total_proposals }})</li>
                <li><a href="/coordinator/assign">Assign Reviewers</a></li>
            </ul>
        {% endif %}
    </div>

    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endblock %}