{% extends 'base.html' %}
{% load static %}

{% block title%}Data Analysis{% endblock title %}

{% block custom %}<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endblock %}

{% block head %}Data Analysis{% endblock head %}

{% block content %}
    {% comment %} <div style="width: 75%; margin: auto; padding: 50px;">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit">Continue</button>
        </form>
    </div> {% endcomment %}

    <div style="width: 100%; margin: auto; padding: 50px;">
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>
{% endblock %}