{% extends 'base.html' %}

{% block title%}Revision{% endblock %}

{% block head %}Revision{% endblock %}

{% block content %}
    <div style="width: 100%; margin: auto; padding: 50px;">
        {% if description %}
            <h2>Details of proposal number {{ description_head }}</h2>
            <div class="table-responsive">
                <table class="table">
                        <thead>
                            <tr>
                                {% for i, j in description %}
                                    <th>{{ i }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for i, j in description %}
                                    <td>{{ j }}</td>
                                {% endfor %}

                            </tr>
                        </tbody>
                </table>
                </div>
            </div>
        {% endif %}
        {% if output %}
        <div class="table-responsive">
            <table class="table">
                    <thead>
                        <tr>
                            {% for row in heads %}
                                <th>{{ row }}</th>
                            {% endfor %}
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for row in output %}
                    <tbody>
                        <tr>
                            {% for value in row %}
                                    <td>{{ value }}</td>
                            {% endfor %}
                            <td>
                                <ul>
                                    <li><a href="/review/{{ row.proposal_number }}">View Description</a></li>
                                    <li><a href="/review/agree/{{ row.proposal_number }}">Agree to review</a></li>
                                    <li><a href="#">Decline to review</a></li>
                                    <li><a href="#">Review</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            </div>
        </div>
        {% else %}
        <h2>Currently no open proposals</h2>
        {% endif %}
{% endblock %}