{% extends 'base.html' %}

{% block title%}Login{% endblock %}

{% block head %}Login{% endblock %}

{% block content %}

<div style="width: 50%; margin: auto; padding: 50px;">
    <h2>Welcome to Expedition Proposal Submission</h2>
    
    <form action='' method='POST'>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Login</button>
    </form>

    Forgot Password

    <a href="/register">Register</a>
</div>
{% endblock %}
